.bookmarks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0;

	.bookmarksTitle {
		margin-bottom: 20px;
	}

	.section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.clearButton {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--detailsColor);
		border-radius: 5px;
		padding: 10px;
		background-color: var(--backgroundColor);
		cursor: pointer;

		.clearIcon {
			margin-left: 10px;
		}
	}
}
