.buttonsContainer {
	margin-bottom: 20px;
	display: flex;
	max-width: 80vw;
	overflow: hidden;

	&:hover {
		overflow-x: auto;
	}

	.pageButton {
		font-size: 1rem;
		background-color: var(--backgroundColor);
		margin: 0 10px;
		border: 1px solid var(--detailsColor);
		padding: 10px 15px;
		cursor: pointer;
		transition: all 0.3s linear;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

		&.active,
		&:hover {
			background-color: var(--hoverBackgroundColor);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
			border-color: var(--hoverDetailsColor);
		}
	}
}
