@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--backgroundColor: #151515;
	--hoverBackgroundColor: #212529;
	--textColor: #ffffff;
	--detailsColor: darkred;
	--hoverDetailsColor: #ec1d24;
}

* {
	margin: 0;
	padding: 0;
	color: var(--textColor);
	font-family: 'Roboto', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--backgroundColor);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
